<html>
	<head>
		<title>إرابيا.تيكنولوجي</title>
	</head>

<body dir="rtl">
	<h1>لوحة التحكم</h1>
	<a href="/admin">الرئيسية</a>||
	<a href="/tech_admin">تعديل الأخبار التقنية</a>||
	<a href="/ops_admin">تعديل برمجيات مفتوحة المصدر</a>||
	<a href="/programming_admin">تعديل عالم البرمجة</a>

	<% @news.each do |n| %>
		<% n[:cat_id] %>
		<h4><%= n[:title] %></h4>
		<p><%= n[:description] %></p>
		<p><%= n[:ndate] %>
		<a href="/delete/<%= n[:news_id] %>">حذف الخبر</a>
		<a href="/ops_edit/<%= n[:news_id] %>">تعديل الخبر</a>
		<hr/>
	<% end %>
</body>

</html>
